 
* {
	box-sizing: border-box;
    border-radius: 50%;
    
}

.column{
    float: left;
	width: 90%;
	padding: 5px;
    height:;

}


.column1 {
	float: left;
	width: 10%;
	padding: 5px;
    height:;
}

.row::after {
	content: "";
	display: table;
	clear: both;
}









